@import "./customStyles/customStyles.scss";

.main-navbar {
  font-size: large;
}

.app-title {
  text-align: center;
  h1 {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
    display: inline-flex;
    -webkit-background-clip: text;
    color: transparent;
    margin: 50px;
    width: 700px;
  }
  h4 {
    display: inline-flex;
    width: 500px;
  }
}

.app-detail {
  color: $blue-5;
  text-align: center;
  .rs-divider-inner-text {
    padding: 0;
  }
}

.translator-example {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border-color: $primary;
  display: inline-block;
  width: 400px;
}
